*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
    min-height: 100%;
    background-image: url("background.png");
    background-attachment: fixed;
}
html {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;    
}
  

.banner {
    background-size: cover;
     background-position: center;
    background-attachment: fixed;
    /* nu mai este necesar */
    /* z-index: -1; */
}

.navbar{
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 9999;
  margin-bottom: 1000px;
  background-image: url(oferta.jpg);
  background-size: cover;
  width: 100%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  margin-left: auto;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
/* Style for pop-up contact */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
    
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
    display: none;
  }
  /*popup*/
.popup,
.overlay {
  display:none;
}

.popup {

    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-image: url(Livrare-pizza.jpg);
    background-size: cover;
    font-size: 2.5em;
}
.popup {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333333;
  cursor: pointer;
}

/*welcome*/
#welcome {
	position: absolute;
	top: 30%;
	left: 50%;

	transform: translate(-50%, -50%);
	font-size: 36px;
	color: #333;
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
h2{
  color: gold;
  font-size: 70px;
  margin-bottom: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6{
  color: silver;
  font-size: 30px;
  margin-left: 220px;
  font-family:Arial, Helvetica, sans-serif;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translate(-50%, -60%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

/* imagini schimbatoare*/
.slideshow-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: hidden;
    margin-right: 200px;
    margin-left: 900px;
}

.slideshow-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slideshow img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin-top: 250px;
    margin-left: 500px;

    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

.slideshow img.last-active {
    opacity: 0;
}
h3 {
    position: absolute;
    bottom: 50;
    right: 70;
    color: #fff;
    z-index: 1;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

/*footer*/
footer {
  /* problema principala: "position: absolute" si "bottom: 0"
  faceau footer-ul sa fie in partea de jos a ferestrei (ecranul vizibil initial)
  */
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}


.container {
  position:relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drepturi{
  text-align: center;
  margin: auto;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}