*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  min-height: 100%;
  background-image: url("poze/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
html {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;    
}
  

.banner {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* nu mai este necesar */
    /* z-index: -1; */
}

.navbar{
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 9999;
  background-color: burlywood;
  background-size: cover;
  width: 100%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul{
  margin-left: auto;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after{
  content:'';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.navbar img {
  width: 5%;
  margin-left: 200px;
}
/* Style for pop-up contact */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 9999;
  display: none;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9998;
  display: none;
}
/*popup*/
.popup,
.overlay {
display:none;
}

.popup {

  width: 800px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-size: cover;
}
.popup {
  background-color: brown;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9998;
}
.popup img{
  padding-top: 0;
  padding-left: 0;
  width: 500px;
  height: 600px;

}
.popupdreapta{
  margin-left: 14%;
  background-color: brown;
  display: grid;
  max-width: 10000%;
  max-width: 1000%;

}
.popupdreapta h2 {
  font-family: MV Boli;
  position: relative;
  top: 50%;
  left: 10%;
  font-size: 200%
  
}
.popupdreapta numar1 {
  position: relative;
  padding-top: 10%;
  top: 50%;
  left: 30%;
  font-size: x-large;
}
.popupdreapta zone1{
  margin-top: 10%;
  font-family: MV Boli;
  font-size: large;

}
.popupdreapta numar2{
  position: relative;
  padding-top: 15%;
  top: 50%;
  left: 30%;
  font-size: x-large;

}
.popupdreapta zone2{
  margin-top: 10%;
  font-family: MV Boli;
  font-size: large;
}

.popup-close {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
color: #333333;
cursor: pointer;
}
.popupdreapta {
  position: fixed;
  padding-top: 0;
  top: 0;
  left: 50%;    
}


/*welcome*/
#welcome {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	color: #333;
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
h2{
  color: black;
  font-size: 65px;
  margin-bottom: 20px;
  font-family:MV Boli;
}

h6{
  color: black;
  font-size: 30px;
  margin-left: 220px;
  font-family:MV Boli;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translate(-50%, -60%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}


/*footer*/

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}


.container {
  position:relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drepturi{
  text-align: center;
  margin: auto;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
p10 img{
  width: 70%;
  height: auto;
}
/*mijloc*/
#mijloc {
  animation-name: fade-in;
	animation-duration: 0.7s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border: 5px solid #ccc;
  text-align: center;
  font-size: 24px;
  color: black;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.mijloc,h8{
  font-size: 40px;
  color: crimson;
  font-family:cursive
}
.mijloc, p{
  margin-top: 20px;
  font-size: 30px;
  color: red;
  font-family:cursive
}
.mijloc,img{
  height: 25%;
}
#locatie,
#meniu {
  background-color:purple;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  transition: all 1s ease;
}
#locatie{
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
}
#meniu{
  margin-left: 20px;
  border-radius: 20px;
}

#locatie:hover,
#meniu:hover {
  background-color: blue;
}

#locatie:focus,
#meniu:focus {
  outline: none;
}
/* galerie*/
.poze {
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.poze img {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  object-fit: cover;
}


/* pizza50popup */
#pizza50popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: white;
  z-index: 9999;
  display: none;
  transition: opacity 1.5s ease-in-out;
}


#pizza50popup img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  transition: opacity 1.5s ease-in-out;
}
#overlaypizza50 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
  transition: opacity 1.5s ease-in-out;
}


.scrispopup{
  text-align: center;
  width: 100%;
  background-color:red;
  color: white;
  padding: 15px 0;
  text-align: center;
}