*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    min-height: 100%;
    background-image: url("poze/background2.jpg");
    background-attachment: fixed;
}
html {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;    
}
  

.banner {
    background-size: cover;
     background-position: center;
    background-attachment: fixed;
    /* nu mai este necesar */
    /* z-index: -1; */
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 20px;
    background-color: burlywood;
    background-size: cover;
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar ul{
    margin-left: auto;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
  }
  
.hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
  
@media (max-width: 1200px) {
    .menu-toggle {
      display: block;
    }
  
    .menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: #444;
      position: absolute;
      top: 70px;
      right: 20px; /* Ajustați valoarea pentru poziționare */
      width: 200px;
      padding: 10px;
      transform-origin: top right; /* Adăugați această linie pentru a schimba originea transformării */
      transform: scaleY(0); /* Începe ascuns */
      transition: transform 0.3s ease-in-out;
    }
    
  
    .menu.active {
      transform: scaleY(1); /* Afișează meniul atunci când este activ */
    }
  }
  
  /* Stilurile pentru butonul "hamburger" */
  .hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    position: absolute;
    top: 50%;
    right: 20px; /* Ajustați valoarea pentru poziționare */
    transform: translateY(-50%);
  }
  
  .hamburger.active {
    background-color: transparent;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: 0.4s;
  }
  
  .hamburger::before {
    transform: translateY(-10px);
  }
  
  .hamburger::after {
    transform: translateY(10px);
  }
  
  .hamburger.active::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.active::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  

/* Style for pop-up contact */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
    
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
    display: none;
  }
  /*popup*/
.popup,
.overlay {
  display:none;
}

.popup {

    width: 800px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-size: cover;
}
.popup {
    background-color: brown;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
}
.popup img{
    padding-top: 0;
    padding-left: 0;
    width: 500px;
    height: 600px;

}
.popupdreapta{
    margin-left: 14%;
    background-color: brown;
    display: grid;
    max-width: 10000%;
    max-width: 1000%;
  
}
.popupdreapta h2 {
    font-family: MV Boli;
    position: relative;
    top: 50%;
    left: 10%;
    font-size: 200%;
    
}
.popupdreapta numar1 {
    position: relative;
    padding-top: 10%;
    top: 50%;
    left: 30%;
    font-size: x-large;
}
.popupdreapta zone1{
    margin-top: 10%;
    font-family: MV Boli;
    color: darkgreen;

}
.popupdreapta numar2{
    position: relative;
    padding-top: 15%;
    top: 50%;
    left: 30%;
    font-size: x-large;

}
.popupdreapta zone2{
    margin-top: 10%;
    font-family: MV Boli;
    color: darkgreen;
}
.popupdreapta img{
  width: 15%;
  height: 100%;
  position: absolute;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333333;
  cursor: pointer;
}
.popupdreapta {
    position: fixed;
    padding-top: 0;
    top: 0;
    left: 50%;    
}
.pozadelivery img {
  width: 38%;
  height: 35%;
  position: absolute;
  bottom: 0;
  right: 0;

}


footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  
.container{
    position:relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-6 {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .drepturi{
    text-align: center;
    margin: auto;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  p10 img{
    width: 70%;
    height: auto;
  }

/* Rubrigile elementelor*/
#pizza {
    text-align: center;
    font-size: 3em;
    margin-top: 150px;
    color: goldenrod;
    font-family: MV Boli;
}
:target {
    padding-top: 80px;
  }

#pizza50 {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
#paste {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
#burgeri {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
#shaorma {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}

#salate{
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
#deserturi{
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
#bauturi{
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: goldenrod;
    font-family: MV Boli;
}
/*pentru pizza*/

.Pizza {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    min-height: 350px;
}
  
.pizza-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
    min-height: 350px;
      
}
.pizza-item h3 {
    color: black;
    font-family: MV Boli;
    
 }
 .pizza-item p{
    background-color: white;

 }
 .pizza-item pr{
    float: right;

 }
.pizza-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.pizza-item img:hover{
    transform: scale(1.2);
}
.pizza-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza-item:nth-child(5) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza-item:nth-child(6) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(7) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(8) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(9) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza-item:nth-child(10) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza-item:nth-child(11) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}

.pizza-item:nth-child(12) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 4 / span 1; /* al patrulea rand */
}
.pizza-item:nth-child(13) {
    grid-column: 2 / span 1; /* a doua coloană */
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza-item:nth-child(14) {
    grid-column: 3 / span 1; /* a treia coloană*/
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza-item:nth-child(15) {
    grid-column: 1 / span 1; /* prima coloană */
    grid-row: 5 / span 1; /* a cincea linie */
    }
.pizza-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/*Pizza Mare*/   
.buton50{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;

}
.buton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 0;
  }
.pizza50{
    padding-top: 0%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
}
.pizza50-item {
    display: grid;
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    min-height: 350px;
  
}
.pizza50-item h3 {
    color: black;
    font-family: MV Boli;
 }
.hidden{
    display: none;
}

.pizza50-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.pizza50-item img:hover{
    transform: scale(1.2);
}
.pizza50-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza50-item:nth-child(5) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza50-item:nth-child(6) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza50-item:nth-child(7) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza50-item:nth-child(8) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza50-item:nth-child(9) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza50-item:nth-child(10) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza50-item:nth-child(11) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}

.pizza50-item:nth-child(12) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 4 / span 1; /* al patrulea rand */
}
.pizza50-item:nth-child(13) {
    grid-column: 2 / span 1; /* a doua coloană */
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza50-item:nth-child(14) {
    grid-column: 3 / span 1; /* a treia coloană*/
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza50-item:nth-child(15) {
    grid-column: 1 / span 1; /* prima coloană */
    grid-row: 5 / span 1; /* a cincea linie */
    }
.pizza50-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
/* Paste*/
.Paste {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
}
.paste-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.paste-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.paste-item img:hover{
    transform: scale(1.2);
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.paste-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/* Burgeri*/
.Burgeri {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.burgeri-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.burgeri-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.burgeri-item img:hover{
    transform: scale(1.2);
}
.burgeri-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
.burgeri-image:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.burgeri-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}

/*Shaorma*/
.Shaorma {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
}
.shaorma-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.shaorma-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.shaorma-item img:hover{
    transform: scale(1.2);
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.shaorma-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/*Salate*/
.Salate {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.salate-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.salate-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.salate-item img:hover{
    transform: scale(1.2);
}
.salate-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.salate-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.salate-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/*Deserturi*/
.Deserturi {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.deserturi-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.deserturi-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.deserturi-item img:hover{
    transform: scale(1.2);
}
.deserturi-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.deserturi-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.deserturi-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/*Bauturi*/
.Bauturi {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
}
.bauturi-item {
    background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.bauturi-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.bauturi-item img:hover{
    transform: scale(1.2);
}
.bauturi-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.bauturi-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.bauturi-item h3 {
    color: black;
    font-family: MV Boli;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}