*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    min-height: 100%;
    background-image: url("poze/background.png");
    background-attachment: fixed;
}
html {
    height: auto;
    display: block;
    margin: 0;
    padding: 0;    
}
  

.banner {
    background-size: cover;
     background-position: center;
    background-attachment: fixed;
    /* nu mai este necesar */
    /* z-index: -1; */
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 1000px;
    background-image: url(poze/oferta.jpg);
    background-size: cover;
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    margin-left: auto;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
div{
    padding-top: 82px;
}

/* Style for pop-up contact */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
    
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
    display: none;
  }
  /*popup*/
.popup,
.overlay {
  display:none;
}

.popup {

    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-image: url(/poze/Livrare-pizza.jpg);
    background-size: cover;
    font-size: 2.5em;
}
.popup {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333333;
  cursor: pointer;
}


h3 {
    /* Am sters "position: absolute" si "z-index: 1" ca sa nu se mai suprapuna titlul cu imaginea */
    /* position: absolute; */
    /* z-index: 1; */
    bottom: 50;
    right: 70;
    color: #fff;
    }

    /* Am adaugat o culoare optionala,
    pentru toate elementele h3 din toate containere-le care au clasa "pizza-item",
    deoarece initial era scris alb pe fundal alb. Schimb-o cu ce crezi ca se potriveste. */
    .pizza-item h3 {
        color: #913911;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

/*footer*/
/* Am sters spacer-ul deoarece nu mai este necesar,
"navbar", "Pizza", si <footer> fiind in acelasi container. ("banner") */
/* .spacer {
    height: 100vh;
} */
footer {
    /* problema principala: "position: absolute" si "bottom: 0"
    faceau footer-ul sa fie in partea de jos a ferestrei (ecranul vizibil initial)
    */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
  
  
.container {
    position:relative;
}
  
.row {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drepturi{
    text-align: center;
    margin: auto;
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
p {
    margin-bottom: 10px;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    color: #fff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
  }

/* Rubrigile elementelor*/
#pizza {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: white;
}
#paste {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: white;
}
#burgeri {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: white;
}
#salate{
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    color: white;
}
/*pentru pizza*/

.Pizza {
    /* "height" nu este necesar in acest caz.
    Nu aduce nici o modificare. */
    /* height: auto; */

    /* "position: absolute" este de eviat in cazul unei grid.
    Daca vrei sa fie centrata, folosesti margin-left si margin-right auto. Dar doar daca ai o latime fixa a grilei.
    */
    /* position: absolute; */

    /* margin-top nu mai este necesar,
    dar l-am schimbat din 1000px in 13px
    pentru ca rezultatul final sa arate identic cu ce ai facut initial.
    */
    margin-top: 13px;
    /* Am adaugat 40px astfel incat footer-ul sa nu fie lipit de grid. */
    margin-bottom: 40px;

    /* Din moment ce pozitia nu mai este absoluta,
    top si left nu mai aduc schimbari. */
    /* top: 50%; */
    /* left: 50%; */

    /* Am centrat grila cu "margin-left: auto", "margin-right: auto" si "width: 1070px". */
    /* Este de preferat sa se foloseasca "vw" in loc de "px" pentru "width" in cazul acestei grile. */
    /* Deoarece ai pus un element "pizza-item" cu fundal alb in fiecare celula a grilei
    in loc sa pui fundalul alb al intregei celule si apoi sa pui doar textul si imaginea in celula,
    daca ai fi folosit "vw" atunci ar fi aparut un spatiu gol suplimentar in dreapta fiecarei pizza-item.
    O solutie ar fi fost sa folosesti "justify-content: space-evenly/around/between" in loc de "gap: 40px",
    dar am inteles ca a fost o idee de design. :D */
    margin-left: auto;
    margin-right: auto;
    width: 1070px;

    /* "transform: translate" este de evitat in general.
    Dar poate fi o solutie in cazuri de urgenta. */
    /* transform: translate(-50%, -50%); */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
}
  
.pizza-item {
    background-color: red;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.pizza-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.pizza-item img:hover{
    transform: scale(1.2);
}
.pizza-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza-item:nth-child(5) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.pizza-item:nth-child(6) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(7) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(8) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 2 / span 1; /* al doilea rand */
}
  
.pizza-item:nth-child(9) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza-item:nth-child(10) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}
.pizza-item:nth-child(11) {
    grid-column: 3 / span 1; /* a treia coloana */
    grid-row: 3 / span 1; /* al treilea rand */
}

.pizza-item:nth-child(12) {
    grid-column: 1 / span 1; /* prima coloana */
    grid-row: 4 / span 1; /* al patrulea rand */
}
.pizza-item:nth-child(13) {
    grid-column: 2 / span 1; /* a doua coloană */
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza-item:nth-child(14) {
    grid-column: 3 / span 1; /* a treia coloană*/
    grid-row: 4 / span 1; /* a patra linie */
    }
    
    .pizza-item:nth-child(15) {
    grid-column: 1 / span 1; /* prima coloană */
    grid-row: 5 / span 1; /* a cincea linie */
    }
.pizza-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* Paste*/
.Paste {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
}
.paste-item {
    background-color: yellow;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.paste-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.paste-item img:hover{
    transform: scale(1.2);
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.paste-item h3 {
    color: #913911;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/* Burgeri*/
.Burgeri {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.burgeri-item {
    background-color: blue;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.burgeri-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.burgeri-item img:hover{
    transform: scale(1.2);
}
.burgeri-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
.burgeri-image:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.burgeri-item h3 {
    color: #913911;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}
/*Salate*/
.Salate {
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1070px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
}
.salate-item {
    background-color: yellowgreen;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    height: 350px;
      
}
.salate-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.salate-item img:hover{
    transform: scale(1.2);
}
.salate-item:nth-child(4) {
    grid-column: 2 / span 1; /* a doua coloana */
    grid-row: 1 / span 1; /* primul rand */
}
  
.salate-image:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
h3 {
    bottom: 50;
    right: 70;
    color: #fff;
    }

.salate-item h3 {
    color: #913911;
 }
    
a {
    color: inherit;
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}